body {
  margin: 0;
}

html {
  overflow-x: hidden;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}

.snowball-block {
  margin: 0 auto;
}

.snowball-block-splash .snowball-block-splash-bg.parallax {
  background-attachment: scroll;
}
