* {
  box-sizing: border-box;
}

#snowball_meta {
  background-color: #32373c;
}

#snowball_meta h3 {
  color: #eee;
}

#snowball_meta .hndle {
  background-color: #23282d;
  border-bottom: none;
}

.snowball-toolbar {
  margin-top: 1em;
}

.snowball-toolbar .button {
  border: none;
}

.snowball-block {
  margin: 1em 0;
  background-color: #fff;
}

.snowball-block:last-child {
  margin-bottom: 0.25em;
}

.snowball-gui,
.snowball-code {
  /*clear: both;*/
}

.snowball-title {
  margin-bottom: 1em;
  font-weight: bold;
}

.snowball-gui {
  position: relative;
}

.snowball-code {
  display: none;
  background-color: purple;
}

.snowball-tinker,
.snowball-preview {
  width: 50%;
  min-height: 600px;
  height: 100%;
}

.snowball-tinker {
  padding: 1em;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.snowball-preview {
  display: block;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.snowball-block label {
  display: block;
  margin-bottom: 2em;
}

.snowball-block label:last-child {
  margin-bottom: 0;
}

.snowball-block input {
  margin-left: 0;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.snowball-block input:focus {
  outline-width: 2px;
}

.wp-picker-clear,
div.wp-picker-holder {
  z-index: 999;
  position: absolute;
}
