@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  letter-spacing: 0.159999996423721px;
  line-height: 1.4;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

a {
  color: #2887CA;
}

a:hover {
  color: #1968B6;
}

a:active {
  color: #14518D;
}

input,
textarea {
  padding: 1em;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 14px;
  outline: none;
  resize: none;
}

label {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.btn,
input[type="button"],
input[type="submit"] {
  padding: 1em 2em;
  border: none;
  border-radius: 999em;
  background-color: #2887CA;
  color: #fff;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #1968B6;
}

.btn:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: #14518D;
}

.meta {
  margin-bottom: 4rem;
  text-align: center;
}

.caption {
  font-size: 14px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
