* {
  box-sizing: border-box;
}

#snowball_meta {
  background-color: #32373c;
}

#snowball_meta h3 {
  color: #eee;
}

#snowball_meta .hndle {
  background-color: #23282d;
  border-bottom: none;
}

.snowball-toolbar {
  margin-top: 1em;
}

.snowball-toolbar .button {
  height: auto;
  width: 75px;
  padding: 0.8em 1.5em 0.3em;
  border: none;
  margin-right: 4px;
  text-align: center;
  font-size: 12px;
  line-height: 1.7em;
}

.snowball-toolbar .button .fa {
  font-size: 24px;
}

.snowball-block {
  margin: 1em 0;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.snowball-block:last-child {
  margin-bottom: 0;
}

.snowball-gui {
  position: relative;
}

.snowball-code {
  display: none;
}

.snowball-tinker,
.snowball-preview {
  width: 50%;
  min-height: 250px;
  height: 100%;
}

.snowball-title {
  margin-bottom: 1em;
  font-weight: bold;
}

.snowball-title,
.snowball-delete {
  display: inline-block;
}

.snowball-delete {
  float: right;
  font-size: 1.5em;
  opacity: 0.6;
  cursor: pointer;
}

.snowball-delete:hover {
  opacity: 1;
}

.snowball-tinker {
  padding: 1em;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.snowball-preview {
  display: block;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.snowball-block form > label,
.snowball-block form > div {
  display: block;
  margin-bottom: 2em;
  cursor: default;
}

.snowball-block form > label:last-child {
  margin-bottom: 0;
}

.snowball-block input {
  max-width: 100%;
  margin-left: 0;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.snowball-block input:focus {
  outline-width: 2px;
}

.wp-picker-clear,
div.wp-picker-holder {
  z-index: 999;
  position: absolute;
}
