@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);

* {
  box-sizing: border-box;
}

html,
body,
article {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Merriweather', serif;
  font-size: 18px;
  letter-spacing: 0.159999996423721px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.snowball-block {
  width: 600px;
  min-width: 600px;
  margin: 0 auto 4em;
}

.full-width {
  width: 100%;
}

.meta {
  margin-bottom: 4rem;
  text-align: center;
}

.caption {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
