@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  letter-spacing: 0.159999996423721px;
  line-height: 1.4;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.snowball-block {
  width: 600px;
  margin: 0 auto 4em;
}

.full-width {
  width: 100%;
}

.offset-left,
.offset-right {
  width: 500px;
  margin-bottom: 0;
}

.offset-left {
  float: left;
  margin-left: calc((100% - 600px)/2 - 225px);
  margin-right: 1em;
}

.offset-right {
  float: right;
  margin-right: calc((100% - 600px)/2 - 225px);
  margin-left: 1em;
}

.meta {
  margin-bottom: 4rem;
  text-align: center;
}

.caption {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .offset-left,
  .offset-right {
    float: none;
    width: 600px;
    margin: 0 auto 4em;
@media (max-width: 600px) {
  .snowball-block {
    width: 100%;
    padding: 1em;
  }

  .full-width {
    padding: 0;
  }
}
