html {
  overflow-x: hidden;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}

body {
  margin: 0;
  min-width: 800px;
}

.snowball-block {
  margin: 0 auto;
  padding: 1em;
}

.snowball-block.full-width {
  width: 100%;
  padding: 0;
}

.snowball-block-splash .snowball-block-splash-bg.parallax {
  background-attachment: scroll;
}
