* {
  box-sizing: border-box;
}

body.modal {
  overflow: hidden;
}

#wpfooter {
  display: none;
}

#snowball_meta {
  background-color: #32373c;
}

#snowball_meta h3 {
  color: #eee;
}

#snowball_meta .hndle {
  background-color: #23282d;
  border-bottom: none;
}

#snowball_meta .inside {
  margin: 0;
}

#submitdiv .misc-pub-section {
  padding: 5px 10px;
}

.settings-section {
  float: right;
  margin: 3px 20px 6px;
}

#submitdiv .edit-post-status,
#submitdiv .edit-visibility, 
#submitdiv .edit-timestamp {
  margin-left: 5px;
}

.button.button-delete {
  transition: none;
}

.button.button-delete:hover,
.button.button-delete:focus {
  border: 1px solid #9e1115 !important;
  background-color: #c94e2a !important;
  box-shadow: inset 0 1px 0 #e34e2a,0 1px 0 rgba(0,0,0,.08);
  color: #fff !important;
}

.button.button-delete:focus,
.button.button-delete:active {
  border: 1px solid #000 !important;
  background-color: #a94e2a !important;
}

#major-publishing-actions {
  padding: 5px;
  text-align: right;
}

#minor-publishing-actions {
  padding-top: 0;
}

.trash-button-holder,
.save-button-holder,
.preview-button-holder,
.publish-button-holder {
  display: inline-block;
}

.trash-button-holder {
  float: left;
}

#publish {
  float: right;
}

.save-button-holder .spinner {
  display: none;
}

#snowball-toolbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 32px;
  margin: 0;
  padding: 0.5em 0 0;
  background-color: #32373c;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#snowball-toolbar .buttons {
  padding-bottom: 0.75em;
  overflow-x: auto;
}

#snowball-toolbar .button {
  height: auto;
  width: 75px;
  padding: 0.8em 0 0.3em;
  border: none;
  margin-right: 4px;
  text-align: center;
  font-size: 10px;
  line-height: 1.7em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#snowball-toolbar .button .fa {
  font-size: 18px;
}

#snowball-toolbar .tags {
  margin-bottom: 8px;
  font-size: 10px;
  color: #bbb;
}

#snowball-toolbar .tag {
  display: inline-block;
  padding: 0 8px;
  background-color: #222;
  vertical-align: top;
  border-radius: 4px;
  cursor: pointer;
}

#snowball-toolbar .tag:hover {
  background-color: #111;
  color: #fff;
}

#snowball-toolbar .tag.active {
  background-color: #0B5E9A;
  color: #fff;
}

#snowball-toolbar .settings {
  float: right;
}

#snowball-toolbar .settings .button {
  width: 75px;
  padding: 0.3em 0 0.2em;
  margin: 0 0 0 4px;
  float: none;
  box-shadow: none;
}

#snowball-toolbar .settings .button:hover {
  background-color: #e0e0e0;
}

#snowball-toolbar .settings .button:active {
  background-color: #d0d0d0;
}

#snowball-toolbar .menu-toggle {
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

#snowball-toolbar .happy .menu-toggle {
  margin-left: 8px;
}

#snowball-toolbar .happy:hover .menu-toggle {
  background-color: #7CB342;
  color: #fff;
}

#snowball-toolbar .sad:hover .menu-toggle {
  background-color: #F44336;
  color: #fff;
}

#snowball-toolbar .cog:hover .menu-toggle {
  background-color: #fff;
  color: #777;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: 12px;
  z-index: 200;
  min-width: 450px;
  background-color: #222;
  border-radius: 6px;
  padding: 1em 2em 1em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.cog {
  padding-top:2px;
  margin-right: 17px;
}

.cog .menu-dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: auto;
  right: 30px;
  z-index: 200;
  max-width: 450px;
  background-color: #222;
  border-radius: 6px;
  padding: 1em 2em 1em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.menu-dropdown:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 152px;
  pointer-events: none;
  top: -40px;
  border: 20px solid;
  border-color: transparent transparent #222 transparent;
}

.sad .menu-dropdown:before {
  right:auto;
  left: 272px;
}

.happy .menu-dropdown:before {
  right:auto;
  left: 246.5px;
}

.menu-dropdown .header {
  padding-left: 0 !important;
  color: #fff;
}

.menu-dropdown textarea {
  width: 100%;
  height: 200px;
}

.menu-dropdown .button {
  float: right;
  padding: 0.6em 0.3em;
  margin: 0.5em 0;
  font-size: 13px;
}

.menu-dropdown .close {
  float: right;
  font-size: 18px;
  cursor: pointer;
}

.menu-dropdown .close:hover {
  color: #fff;
}

#snowball-update {
  float:right;
}

#snowball-update a {
  background-color: #00a0d2;
  border-color: #0073aa;
  color:white;
  box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
}

#snowball-preview {
  float:left;
}

.snowball-block {
  margin: 1em 0;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.snowball-block.ui-sortable-helper {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.snowball-block:first-child {
  margin-top: 0;
}

.snowball-block:last-child {
  margin-bottom: 0;
}

.snowball-gui {
  position: relative;
}

.snowball-tinker,
.snowball-preview {
  width: 50%;
  height: 100%;
  min-height: 300px;
}

.snowball-title {
  margin-bottom: 1em;
  font-weight: bold;
}

.snowball-title,
.snowball-title-button {
  display: inline-block;
}

.snowball-title-button-group {
  float: right;
  margin-left: 6px;
}

.snowball-title-button {
  width: 26px;
  padding: 2px 0;
  border: 1px solid #ddd;
  border-right: none;
  line-height: 18px;
  vertical-align: top;
  color: #999;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}

.snowball-title-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.snowball-title-button:last-child {
  border-right: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.snowball-title-button:hover {
  background-color: #fff;
  color: #555;
}

.snowball-title-button:active {
  background-color: #fff;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  color: #555;
}

.snowball-title-button:hover {
  opacity: 1;
}

.snowball-tinker {
  padding: 1em;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.snowball-tinker textarea {
  width: 100%;
  max-width: 100%; 
}

.snowball-preview {
  display: block;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.snowball-block form > p {
  margin-bottom: 1.5em;
}

.snowball-block label + label {
  margin-left: 1em;
}

.snowball-block form > p:last-child {
  margin-bottom: 1em;
}

.snowball-block input {
  max-width: 100%;
  margin-left: 0;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.snowball-block input:focus {
  outline-width: 2px;
}

.snowball-block .quicktags-toolbar {
  background: none;
}

.wp-picker-clear,
div.wp-picker-holder {
  z-index: 999;
  position: absolute;
}

.handsontable.ht_clone_top {
  z-index: -10;
}

.snowball-code {
  position: relative;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  display: none;
}

.snowball-code-title {
  margin: 0 0 0.25em;
  font-weight: bold;
  resize: none;
}

.snowball-editor {
  display: inline-block;
  width: 50%;
  height: 100%;
  min-height: 200px;
  vertical-align: top;
  background-color: #f8f8f8;
  padding: 1em;
}

.snowball-html {
  border-right: 1px solid #ddd;;
}

.snowball-editor-box {
  width: 100%;
  height: calc(100% - 20px);
  min-height: 150px;
}

.CodeMirror {
  background-color: #111 !important;
}

.snowball-code .CodeMirror {
  height: calc(100% - 20px);
}

.snowball-html .CodeMirror,
.CodeMirror-linebackground.readonly,
.CodeMirror-linebackground.readonly + .CodeMirror-gutter-wrapper > .CodeMirror-linenumber {
  background-color: #272822 !important;
}

.snowball-block.modal {
  position: fixed;
  top: 3em;
  left: 2.5em;
  right: 2.5em;
  bottom: 3em;
  z-index: 1051;
  margin: 0;
}

#modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s;
  pointer-events: none;
}

body.modal #modal-bg {
  opacity: 1;
  pointer-events: auto;
}

.snowball-block.modal .snowball-gui,
.snowball-block.modal .snowball-code {
  height: 50%;
}

#adminmenuwrap {
  z-index: 1040;
}

#wpadminbar {
  z-index: 1041;
}

@media (max-width: 600px) {
  #snowball-toolbar {
    top: 0;
  }
}

@media (min-width: 601px) and (max-width: 782px) {
  #snowball-toolbar {
    top: 46px;
  }
}

@media (max-width: 1400px) {
  
  #wpcontent {
    margin-left: 0 !important;
  }

  #adminmenumain {
    float: left;
    width: 0;
  }

  #adminmenuwrap {
    top: 32px;
    bottom: 0;
    left: -160px;
    transition: 0.5s left;
  }

  body.folded #adminmenuwrap {
    left: -36px;
  }

  body.show-menu #adminmenuwrap {
    left: 0;
  }

  #adminmenuback {
    width: 20px;
    background: none;
  }

  ul#adminmenu a.wp-has-current-submenu:after,
  ul#adminmenu>li.current>a.current:after {
    border-right: none;
  }
}
